div
{
    background-color: black;
    height: 100px;
    width: 100px;
    margin-top: 5px;
    margin-left: 35px;
}
div:nth-child(2)
{
    background-color: rgba(0, 0, 0, 0.562);
}

div:nth-child(3)
{
    background-color: rgba(0, 0, 0, 0.418);
}

div:nth-child(4)
{
    background-color: rgba(0, 0, 0, 0.219);
}